cvxpy==1.1.18
easydict==1.9
k-means-constrained==0.5.2
keras==2.6.0
kmeans-pytorch==0.3
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
ortools==9.3.10497
osqp==0.6.2.post4
pandas==1.1.5
pyemd==0.5.1
PyYAML==6.0
scikit-learn==0.24.2
scikit-network==0.20.0
scipy==1.5.4
tensorboard-logger==0.1.0
tensorboardX==2.4.1
tensorflow==2.6.2
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
